* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  body {
    font-family: Arial, sans-serif;
    /* background-color: #f0f2f5; */
  }
  
  .container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
    margin-top: 50px;
    
  
  }
  
  .login-form,
  .signup-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 0.2px solid gray;
  }
  
  h1{
    margin-bottom: 20px;
    /* text-align: center; */
    /* text-decoration: none; */
    font-weight: 100px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding:  7px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 7px;
    background-color: #ffd814;
    border: none;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .Amazon-singin{
    margin-top: -50px;
    text-align: center;
    margin-top: 50px;
    font-size: 0.8rem;
  }
  .form-p1{
    margin-bottom: 10px;
    font-size: 0.9rem;
    font-weight: bold;
  }
  .form-p2{
    font-size: 0.8rem;
    margin-top: 10px;
  }
  a{
    margin-top: 10px;
    text-decoration: none;
  }
  
  .foot-last{
    color: black;
    padding: 10px;
    text-align: center;
  }
  .pages a{
    text-decoration: none;
    color: black;
    font-size: 0.75rem;
    margin-top: 15px;
    margin-left: 10px;
  }
  .copyright{
    font-size: 0.85rem;
    margin-top: 10px;
    color: gray;
  }
  a:hover{
    color: red;
  }
  .Amazon-singin p{
    font-size: 0.9rem;
  }